{% extends 'base.html.twig' %}

{% block title 'Connecting' %}

{% block body %}

    <div class="container-lg mt-3" style="width: 20%;background-color: #5eb5e0">
        {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messagedata,'security') }}
        </div>
        {% endif %}
        <h1 style="font-family: 'Gill Sans Ultra Bold',serif;font-size: 36px;text-align: center;background:linear-gradient(#5eb5e0 80%,#dc3545);">SIGN IN!</h1>
        <form action="{{ path('login') }}"  method="post">
            <div class="form-group" style="text-align: center">
                <label for="username">USERNAME</label>
                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
            </div>

            <div class="form-group" style="text-align: center">
                <label for="password">PASSWORD</label>
                <input type="password" id="password" name="_password" class="form-control">
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('') }}"
                >
                <br>
            </div>
            <button type="submit" style="text-align: center;alignment: center" class="btn btn-primary">Connect</button>
        </form>
    </div>
{% endblock %}